@import url(/css/common/reset.css);
/* common 에 reset.css 임포트*/

        /* 로그인 실패 에러메세지 색 */
        .error {
            color: #ef4959;
            margin-top:3px;
            font-size:14px;
            margin-left:5px;
        }
        .content{
            height : 100%;
        }
        section{
            min-height: 100% ;
            background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(/img/main_img.jpg);
            background-size: cover;
        }
        .MeMb-div{
            padding-top: 76px;
            padding-bottom: 30px;
        }
        div{
            margin: 0 auto;
        }

        .MeMb-div-logo{
            width: 130px; height: 130px;
            background-image: url(/img/logo05.png);
            background-size: cover;
        }
        .MeMb-div-logo > a{
            display: block;
            width: 100%;
            height: 100%;
        }
        .MeMb-div2{
            width: 500px; height: 570px;
            background-color: white;
            border-radius: 7px;
        }
        .MeMb-login{
            font-size: 44px;
            padding-top: 60px;
            margin-left: 50px;
            font-weight: 600;
        }

        .MeMb-go-siup{
            font-size: 14px;
            margin-top: 10px;
            margin-left: 50px;
        }
        a{border: none;}

        .MeMb-login-form{
            width: 420px; height: 102px;
            margin-top: 66px;
            margin-left: 40px;
            border: 1px solid #d1d1d1;
            border-radius: 5px;
        }

        .MeMb-email, .MeMb-pass{
            width: 385px;
            height: 38px;
            margin-left: 18px;
            margin-top: 5px;
            padding-bottom: 7px;
            font-size: 16px;
            border: none;
        }

        .MeMb-email{
            border-bottom: 1px solid #d1d1d1;
        }

        input{
            outline:none;
            color:#000;
            caret-color:#afadad;
            }

        .MeMb-button{
            width: 420px; height: 50px;
            margin-top: 46px;
            border-radius: 5px;
            border: none;
            background-color: #52b0fb;
            color: white;
            font-weight: bolder;
            font-size: 17px;
            cursor: pointer;
        }
        .MeMb-button:hover{
            background-color: #FEC72F;
            color: black;
            font-weight: bolder;
        }
        .MeMb-bot{
            margin-top: 20px;
            text-align: center;
            width: 250px;
            color: #a9a7a7;
            font-size: 12px;
            font-weight: bolder;
            cursor: pointer;
        }